#input {
    display:grid;
    margin-bottom: 20px;
}

label {
    margin-bottom: 4px;
}

input {
    padding: 15px;
    border-style: solid;
    border-radius: 8px;
    /* border-color: lemonchiffon; */
}

#button-section {
    display: flex;
    justify-content: space-between;
}

#side {
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* margin-right: 8px; */
    place-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    
}

section {
    padding:15px;
    /* border-right: solid;
    border-width: 1px; */
}

button {
    padding: 12px;
}

#taskTextbox {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:antiquewhite;
    border-radius: 5px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-family: 'Roboto';
}

label, p {
    font-family: 'Roboto';
}

@media (max-width: 700px){
    #side {
        display:flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        
    }
}

/* @media (max-width: 1024px){
    section {
        width: 380px;
    }
} */